aws-cdk.core
aws-cdk.aws_s3
aws-cdk.aws_lambda
aws-cdk.aws_s3_notifications
aws-cdk.aws_dynamodb
aws-cdk.aws_events
aws-cdk.aws_events_targets
aws-cdk.aws-lambda-python
aws-cdk.aws_ssm
aws-cdk.aws_glue
aws-cdk.aws_iam